.add-more-media {
    margin-left: 129px;
    margin-top: -51px;
}
.add-more-media-form {
    width: 579px;
}
.file-chooser {
    width: 100%;
    text-align: center;
}
.flatpickr-current-month {
    display: flex !important;
}
.schedule-label {
    width: 21% !important;
}