#footer {
    padding: 34px 0 28px;
}
.search-input {
    width: 322px !important;
}
input[type="text"], input[type="password"], textarea#bio {
    color: inherit !important;
}
.question, .widget, .page-content {
    border-radius: 5px;
}
.page-content {
    margin-bottom: 30px;
}
.widget:last-child {
    margin-bottom: 30px;
}
.error_404 {
    margin-bottom: 76px;
}
li.active .page-link {
    background-color: #3498db;
    color: #fff;
}
